extends layout

block content
  // Wrapper
  #wrapper
    // USER LIST
    h2 #{title}
    #userList
      table
        thead
          th Ticker
          th PX_LAST
        tbody
    // /USER LIST
  // /WRAPPER
