extends layout

block head
  script(src='/lib/phaser.min.js')

block content
  h1= title
  p #{clientToken}
  #phaser-example
  canvas#canvas(width="300" height="595")
  img#leap(src="img/leap.png" style="visibility: hidden;")
  img#burgers(src="img/burger.png" style="visibility: hidden;")
  img#oculus(src="img/oculus.png" style="visibility: hidden;")
  img#kurt(src="img/kurt.png" style="visibility: hidden;")
  img#sup(src="img/spaceup.png" style="visibility: hidden;")
  img#sdown(src="img/spacedown.png" style="visibility: hidden;")
  script(src='/js/game.js')
